<section class="mt-5">
  <div class="container">
    <div class="row">
      <div class="col-xs-14 col-sm-8 col-md-6 mx-auto">
        <div class="card">
          <div class="card">
              <a class="nav-link" routerLink="/user/profile"><h6>Atras</h6></a>
            <div class="card-body text-center">
                <h1 class="h3 mb-3 font-weight-normal" *ngIf="!isError">Escaner de Codigo QR Para Asitencias</h1>
                <qr-scanner
                  [debug]="false"
                  [canvasWidth]="1920"                                 
                  [canvasHeight]="1080"                                
                  [stopAfterScan]="false" 
                  [updateTime]="200"> 
                </qr-scanner>
                <hr>
                <hr>
                <form name="formLista" #formLista="ngForm" (ngSubmit)="onSaveLista(formLista)">
                    <input type="hidden" name="id" [(ngModel)]="this.dataApi.selectedLista.id">
                    <input type="hidden" name="userUid" [value]="userUid">
                    <div class="form-row">       
                      <div class="form-group col-md-6">
                        <label for="estudiante">Estudiante</label>
                        <input type="text" name="estudiante" class="form-control" value="{{asistenciaQR}}" required [(ngModel)]="this.dataApi.selectedLista.estudiante">
                      </div>
                      <div class="form-group col-md-6">
                        <label for="materia">Materia</label>
                        <select name="materia" class="form-control"  [(ngModel)]="this.dataApi.selectedLista.materia" >
                          <option *ngFor="let gestion of gestiones" value="{{gestion.materia}}" >{{gestion.materia}}</option>
                        </select>                            
                      </div>
                      <div class="form-group col-md-6">
                        <label for="horaEntrada">Hora de entrada</label>
                        <input type="text" name="horaEntrada" class="form-control" value="{{fecha}}" required [(ngModel)]="this.dataApi.selectedLista.horaEntrada">
                      </div>
                      <div class="form-group col-md-6">
                          <label for="estado">Estado</label>
                          <input type="text" name="estado" class="form-control" value="{{estado}}" required [(ngModel)]="this.dataApi.selectedLista.estado">
                        </div>
                    </div>
                    <hr>                                                
                    <div class="form-row">
                      <button type="submit" class="btn btn-primary">Save</button>
                    </div>
                  </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>            
</section>
<hr>
<section >
<div class="col">
    <a class="nav-link" routerLink="/user/profile"><h6>Atras</h6></a>
  <table class="table table-hover">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Estudiante</th>
        <th scope="col">Materia</th>
        <th scope="col">Hora de Entrada</th>
        <th scope="col">Estado</th>                         
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let lista of listas; index as i">
        <th scope="row">{{i+1}}</th>
        <td>{{lista.estudiante}}</td>
        <td>{{lista.materia}}</td>
        <td>{{lista.horaEntrada}}</td>
        <td>{{lista.estado}}</td>                        
      </tr>
    </tbody>
  </table>
</div>
</section>

<app-modal [userUid]="userUid"></app-modal>