<section class="row mt-5">
  <div class="col">
    <button class="btn btn-primary float-right mb-3" data-toggle="modal" data-target="#modalBook">New Book</button>
    <table class="table table-hover">
      <thead>
        <tr>
          <th scope="col">Cod. Estudiante</th>
          <th scope="col">Nombre</th>
          <th scope="col">Apellidos</th>
          <th scope="col">Faltas</th>
          <th scope="col">...</th>
          <th scope="col">...</th>
          <th scope="col">&nbsp;</th>
          <th scope="col">&nbsp;</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let alumno of alumnoList ">
          <th scope="row">{{i+1}}</th>
          <td>{{alumno.names}}</td>
          <td>{{alumno.primerapellido}}</td>
          <td>{{alumno.carrera}}</td>
          <td>{{alumno.semestre}}</td>
          <td>{{alumno.materia}}</td>
          <td>{{alumno.facultad}}</td>
          <td *ngIf="alumno.userUid == userUid || isAdmin == true; else noOwner">
            <button class="btn btn-primary" data-toggle="modal" data-target="#modalBook" (click)="onPreUpdateBook(alumno)">Update</button>
          </td>
          <ng-template #noOwner>
            <td>
              <button class="btn btn-secondary" disabled="true">Update</button>
            </td>
          </ng-template>
          <td *ngIf="isAdmin == true; else noAdmin">
            <button class="btn btn-danger" (click)="onDeleteBook(book.id)">Delete</button>
          </td>
          <ng-template #noAdmin>
            <td>
              <button class="btn btn-danger" disabled="true">Delete</button>
            </td>
          </ng-template>
        </tr>
      </tbody>
    </table>
  </div>
</section>
<app-modal [userUid]="userUid"></app-modal>