<section class="row mt-5">
  <div class="col">
      <a class="nav-link" routerLink="/user/profile"><h6>Atras</h6></a>
    <table class="table table-hover">
      <thead>
        <tr>
          <th scope="col">#</th>
          <th scope="col">Nombres</th>
          <th scope="col">Primer Apellido</th>
          <th scope="col">Segundo Apellido</th>
          <th scope="col">Email</th>
          <!--<th scope="col">Facultad</th>
          <th scope="col">Carrera</th>
          <th scope="col">Materia</th>-->
          <th scope="col">&nbsp;</th>
          <th scope="col">&nbsp;</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let user of users; index as i">
          <th scope="row">{{i+1}}</th>
          <td>{{user.nombres}}</td>
          <td>{{user.primerApellido}}</td>
          <td>{{user.segundoApellido}}</td>
          <td>{{user.email}}</td>
          <!--<td>{{user.facultad}}</td>
          <td>{{user.carrera}}</td>
          <td>{{user.materia}}</td>-->
          <td *ngIf="isAdmin == true; else noOwner">
            <button class="btn btn-primary" data-toggle="modal" data-target="#modalUser" (click)="onPreUpdateUser(user)">Update</button>
          </td>
          <ng-template #noOwner>
            <td>
              <button class="btn btn-secondary" disabled="true">Update</button>
            </td>
          </ng-template>
          <td *ngIf="isAdmin == true; else noAdmin">
            <button class="btn btn-danger" (click)="onDeleteUser(user.id)">Delete</button>
          </td>
          <ng-template #noAdmin>
            <td>
              <button class="btn btn-danger" disabled="true">Delete</button>
            </td>
          </ng-template>
        </tr>
      </tbody>
    </table>
  </div>
</section>

<app-modal [userUid]="userUid"></app-modal>