<div class="modal fade" id="modalUser" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">
          {{ !this.dataApi.selectedUser.id ? 'New User' : 'Update User'}}
        </h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      
      <div class="modal-body">
        <form name="formUser" #formUser="ngForm" (ngSubmit)="onSaveUser(formUser)">
          <input type="hidden" name="id" [(ngModel)]="this.dataApi.selectedUser.id">
          <input type="hidden" name="userUid" [value]="userUid">
          <div class="form-row">       
            <div class="form-group col-md-6">
              <label for="nombres">Nombres</label>
              <input type="text" name="nombres" class="form-control" placeholder="nombres" [(ngModel)]="this.dataApi.selectedUser.nombres">
            </div>
            <div class="form-group col-md-6">
              <label for="primerApellido">Primer Apellido</label>
              <input type="text" name="primerApellido" class="form-control" placeholder="primerApellido" [(ngModel)]="this.dataApi.selectedUser.primerApellido">
            </div>
            <div class="form-group col-md-6">
              <label for="segundoApellido">Segundo Apellido</label>
              <input type="text" name="segundoApellido" class="form-control" placeholder="segundoApellido" [(ngModel)]="this.dataApi.selectedUser.segundoApellido">
            </div>
          </div>
          <hr>
          <!--<div class="form-row">
              <div class="form-group col-md-6">
                <label for="facultad">Facultad</label>
                <select name="facultad" class="form-control" >
                  <option value="....">....</option>
                  <option value="....">....</option>
                </select>
              </div>
              <div class="form-group col-md-6">
                <label for="carrera">Carrera</label>
                <select name="carrera" class="form-control" >
                    <option value="....">....</option>
                    <option value="....">....</option>
                </select>
              </div>
              <div class="form-group col-md-6">
                  <label for="materia">Materia</label>
                  <select name="materia" class="form-control" >
                     <option value="....">....</option>
                     <option value="....">....</option>
                  </select>
                </div>
          </div>-->
          
            <hr>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" #btnClose data-dismiss="modal">Close</button>
            <button type="submit" class="btn btn-primary">Save User</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>