<section>
<section id="profile" class="container">
  <div class="row mt-5">
    <div class="offset-lg-4 col-lg-4 col-sm-6 col-12 main-section text-center card">
      <div class="row">
        <div class="col-lg-12 col-sm-12 col-12 profile-header">
        </div>
      </div>
      <div class="row user-details">
        <div class="col-12">
          <img src="{{user.photoUrl}}" class="rounded-circle img-thumbnail" alt="profile">
          <h6 *ngIf="providerId != 'password'">{{user.codUser}}</h6>
          <h6>
            {{user.codUser}}
          </h6>
          <h6>
            {{user.carrera}}
          </h6>
          <h6>
            {{user.email}}
          </h6>
          <hr>
          <a class="nav-link" routerLink="/qr/leerQR" *ngIf="isAdmin == true"><h6>Tomar Asistencias</h6></a>
          <hr>
          <span>
              <div class="card" *ngIf="isAdmin == false">
                  <div class="card">
                    <div class="card-body text-center">
                      <h6 class="h3 mb-2 font-weight-normal" *ngIf="!isError">Codigo QR Para Asitencias</h6>
                      <ngx-qrcode qrc-element-type="url" [qrc-value]="CodigoQRDelUsuario"></ngx-qrcode>
                    </div>  
                  </div>
              </div>
              <a class="nav-link" routerLink="/admin/list-users" *ngIf="isAdmin == true"><h6>Ver/Editar Estudiantes inscritos</h6></a>  
              <hr>    
              <a class="nav-link" routerLink="/admin/list-materias" *ngIf="isAdmin == true"><h6>Ver/Editar Materias inscritos</h6></a>      
          </span>
          <br>  
        </div>
      </div>
    </div>   
  </div>
</section>
</section>

<app-modal [userUid]="userUid"></app-modal>
