<section id="login" class="mb-5 mt-5">
    <div class="container">
        <div class="row">
          <div class="col-xs-18 col-sm-12 col-md-12 mx-auto">
            <div class="card">
              <div class="card">
                  <a class="nav-link" routerLink="/user/profile"><h6>Atras</h6></a>
                <div class="card-body text-center">
                    <h1 class="h3 mb-3 font-weight-normal" *ngIf="!isError">Guardar Materias</h1>                   
                    <hr>
                    <hr>
                    <form name="formGestion" #formGestion="ngForm" (ngSubmit)="onSaveGestion(formGestion)">
                        <input type="hidden" name="id" [(ngModel)]="this.dataApi.selectedGestion.id">
                        <input type="hidden" name="userUid" [value]="userUid">
                        <div class="form-row">       
                          <div class="form-group col-md-6">
                            <label for="gestion">Gestion</label>
                            <select name="gestion" class="form-control" [(ngModel)]="this.dataApi.selectedGestion.gestion">
                              <option value="Gestion I" >Gestion I 2019</option>
                              <option value="Gestion II" >Gestion II 2019</option>
                            </select>                         
                          </div>
                          <div class="form-group col-md-6">
                            <label for="facultad">Facultad</label>
                            <select name="facultad" class="form-control" [(ngModel)]="this.dataApi.selectedGestion.facultad">
                              <option value="Arquitectura y turismo" >Arquitectura y turismo</option>
                              <option value="Ciencias de la salud" >Ciencias de la salud</option>
                              <option value="Ciencias empresariales" >Ciencias empresariales</option>
                              <option value="Sociales" >Sociales</option>
                              <option value="Informatica y electronica" >Informatica y electronica</option>
                              <option value="Tecnologia" >Tecnologia</option>
                            </select>             
                          </div>
                        </div>

                        <div class="form-row">       
                          <div class="form-group col-md-6">
                            <label for="carrera">Carrera</label>
                            <select name="carrera" class="form-control" [(ngModel)]="this.dataApi.selectedGestion.carrera">
                              <option value="Ingenieria en sistemas" >Ingenieria en sistemas</option>
                              <option value="Ingenieria Comercial" >Ingenieria Comercial</option>
                            </select>                         
                          </div>
                          <div class="form-group col-md-6">
                            <label for="semestre">Semestre</label>
                            <select name="semestre" class="form-control" [(ngModel)]="this.dataApi.selectedGestion.semestre">
                              <option value="Semestre 1" >1</option>
                              <option value="Semestre 2" >2</option>
                              <option value="Semestre 3" >3</option>
                              <option value="Semestre 4" >4</option>
                              <option value="Semestre 5" >5</option>
                              <option value="Semestre 6" >6</option>
                              <option value="Semestre 7" >7</option>
                              <option value="Semestre 8" >8</option>
                              <option value="Semestre 9" >9</option>
                              <option value="Semestre 10" >10</option>
                            </select>             
                          </div>
                          <div class="form-group col-md-6">
                            <label for="materia">Materia</label>
                            <select name="materia" class="form-control" [(ngModel)]="this.dataApi.selectedGestion.materia">
                              <option value="Calculo I" >Calculo I</option>
                              <option value="Base de datos I" >Base de datos I</option>
                            </select>             
                          </div>
                          <div class="form-group col-md-6">
                              <label for="horaEntrada">Hora de entrada de materia</label>
                              <select name="horaEntrada" class="form-control" [(ngModel)]="this.dataApi.selectedGestion.horaEntrada">
                                  <option value="6:45" >6:45</option>
                                  <option value="7:35" >7:35</option>
                                  <option value="8:35" >8:35</option>
                                  <option value="9:25" >9:25</option>
                                  <option value="10:25" >10:25</option>
                                  <option value="11:15" >11:15</option>
                                  <option value="12:15" >12:15</option>
                                  <option value="13:05" >13:05</option>
                                  <option value="14:05" >14:05</option>
                                  <option value="14:55" >14:55</option>
                                  <option value="15:45" >15:45</option>
                                  <option value="16:45" >16:45</option>
                                  <option value="17:35" >17:35</option>
                                  <option value="18:35" >18:35</option>
                                  <option value="19:25" >19:25</option>
                                  <option value="20:25" >20:25</option>
                                  <option value="21:45" >21:45</option>
                                </select>                          
                              </div>
                        </div>
                        <hr>                                                
                        <div class="form-row">
                          <button type="submit" class="btn btn-primary">Save</button>
                        </div>
                      </form>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div> 
</section>
<section class="row mt-5">
  <div class="col">
    <table class="table table-hover">
      <thead>
        <tr>
          <th scope="col">#</th>
          <th scope="col">Gestion</th>
          <th scope="col">Facultad</th>
          <th scope="col">Semestre</th>
          <th scope="col">Carrera</th>
          <th scope="col">Materia</th>
          <th scope="col">Hora de Entrada</th>
          <th scope="col">&nbsp;</th>
          <th scope="col">&nbsp;</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let gestion of gestiones; index as i">
          <th scope="row">{{i+1}}</th>
          <td>{{gestion.gestion}}</td>
          <td>{{gestion.facultad}}</td>
          <td>{{gestion.semestre}}</td>
          <td>{{gestion.carrera}}</td>
          <td>{{gestion.materia}}</td>
          <td>{{gestion.horaEntrada}}</td>
          <td *ngIf="isAdmin == true; else noAdmin">
            <button class="btn btn-danger" (click)="onDeleteGestion(gestion.id)">Delete</button>
          </td>
          <ng-template #noAdmin>
            <td>
              <button class="btn btn-danger" disabled="true">Delete</button>
            </td>
          </ng-template>             
        </tr>
      </tbody>
    </table>
  </div>
</section>

<app-modal [userUid]="userUid"></app-modal>