
<div class="row mx-200px">
<div class="form-group col-md-8">

  <label for="reportes">Reportes</label>
  <select name="reportes" class="form-control">
    <option value="Ingenieria Comercial" >Lista Retrasados</option>
    <option value="Ingenieria Financiera">Lista Horario</option>
  </select> 
</div>
</div>
  <section>
    <div id="imprimir" #content>
      <table class="table table-hover" >
        <thead>
          <tr>
            <th scope="col">#</th>
            <th scope="col">Estudiante</th>
            <th scope="col">Materia</th>
            <th scope="col">Hora Entrada</th>
            <th scope="col">Estado</th>          
        </thead>
        <tbody>
          <tr *ngFor="let lista of listas; index as i">
            <th scope="row">{{i+1}}</th>
            <td>{{lista.estudiante}}</td>
            <td>{{lista.materia}}</td>
            <td>{{lista.horaEntrada}}</td>
             <td>{{lista.estado}}</td>       
            </tr>
         </tbody>         
      </table>
    </div>
      <section>
          <div>
              <button type="button" class="btn btn-primary" (click)="descargarpdf()">Descargar PDF</button>
         </div>
      </section>
          
  </section>                           

                                                                                                                                                                                                                                                                                                                                                      