<section id="login" class="mb-5 mt-5">
    <div class="container">
      <div class="row">
        <div class="col-xs-12 col-sm-6 col-md-6 mx-auto">
          <div class="card">
            <div class="card">
              <div class="card-body text-center">
                  <h1 class="h3 mb-3 font-weight-normal" *ngIf="!isError">Codigo QR Para Asitencias</h1>
                <ngx-qrcode qrc-element-type="url" [qrc-value]="CodigoQRDelUsuario"></ngx-qrcode>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>            
</section>