
<form name="formAlumno" #formAlumno="ngForm" (ngSubmit)="onSaveAlumno(formAlumno)">
    <div class="form-group">
      <label for="namefull" class="col-form-label">namefull:</label>
      <input type="text" class="form-control" name="namefull" [(ngModel)]="this.dataApi.selectedPermiso.namefull">
    </div>
    <div class="form-row">
      <div class="form-group col-md-6">
        <label for="ci" class="col-form-label">ci:</label>
        <input type="text" class="form-control" name="ci" [(ngModel)]="this.dataApi.selectedPermiso.ci">
      </div>
      <div class="form-group col-md-6">
        <label for="celular">celular</label>
        <input type="text" name="celular" class="form-control"  [(ngModel)]="this.dataApi.selectedPermiso.celular">
      </div>
    </div>
      <div class="form-group col-md-6">
        <label for="semestre">Semestre</label>
        <select name="semestre" class="form-control" [(ngModel)]="this.dataApi.selectedPermiso.semestre">
          <option value="0">1</option>
          <option value="1">2</option>
          <option value="2">3</option>
          <option value="3">4</option>
          <option value="4">5</option>
          <option value="5">6</option>
          <option value="6">7</option>
          <option value="7">8</option>
        </select>
      </div>
    
    <div class="form-row">
      <div class="form-group col-md-6">
        <label for="carrera">carrera</label>
        <select name="carrera" class="form-control" [(ngModel)]="this.dataApi.selectedPermiso.carrera">
          <option value="Facultad De Electronica y Sistemas">Facultad De Electronica y Sistemas</option>
          <option value="Facultad De Sociales">Facultad De Sociales</option>
        </select>
      </div>  
      <div class="form-group col-md-6">
        <label for="licesiaasistencia">lisencia Asistencia</label>
        <input type="checkbox" name="licesiaasistencia" class="form-control" [(ngModel)]="this.dataApi.selectedPermiso.licesiaasistencia">
      </div>
      <div class="form-group col-md-6">
        <label for="lisenciaexamen">lisencia examen</label>
        <input type="checkbox" name="lisenciaexamen" class="form-control"  [(ngModel)]="this.dataApi.selectedPermiso.lisenciaexamen">
      </div>
      <div class="form-group col-md-6">
        <label for="licesiatutorial">lisencia tutorial</label>
        <input type="checkbox" name="licesiatutorial" class="form-control"  [(ngModel)]="this.dataApi.selectedPermiso.licesiatutorial">
      </div>
      <div class="form-group col-md-6">
        <label for="licesiatrabajo">lisencia trabajo</label>
        <input type="checkbox" name="licesiatrabajo" class="form-control"  [(ngModel)]="this.dataApi.selectedPermiso.licesiatrabajo">
      </div> 
      <div class="form-group col-md-6">
        <label for="materia">materia</label>
        <select name="materia" class="form-control" [(ngModel)]="this.dataApi.selectedPermiso.materia">
          <option value="Ingenieria Comercial">Ingenieria Comercial</option>
          <option value="Ingenieria Financiera">Ingenieria Financiera</option>
        </select>
      </div>
      <div class="form-group col-md-6">
        <label for="docente">docente</label>
        <input type="checkbox" name="docente" class="form-control"  [(ngModel)]="this.dataApi.selectedPermiso.docente">
      </div>
      <div class="form-group col-md-6">
        <label for="justificacion">justificacion</label>
        <input type="checkbox" name="justificacion" class="form-control"  [(ngModel)]="this.dataApi.selectedPermiso.justificacion">
      </div>       
    </div>     
    <div class="modal-footer">
      <button type="button" class="btn btn-secondary" #btnClose data-dismiss="modal">Close</button>
      <button type="submit" class="btn btn-primary">Save Alumno</button>
    </div>
  </form>
                                                                                                                                                          